node_modules
.env
*.log
debug_*.js
debug_*.html
*.html
*.txt
*.json
!package.json
!package-lock.json
temp/
extracted_context.json
deobfuscated_*.js
extracted_*.js
find_*.js
unpack_*.js
unpacked_*.js
process_decoded.js
regex_scan.js
inspect_unpacked.js
fetch_test.js
test.js
download_player.js
decoded_source.txt
final_source.js
analysis.txt
